# Android
*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx

# Backend
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv
.env

# IDEs
.vscode/
*.swp
*.swo

# Logs
*.log

# API Keys (NUNCA commitear)
config/api_keys.json
config/secrets.json

# OS
Thumbs.db
.DS_Store